
.vs/WindowsFormsApp1/v16/Server/sqlite3/db.lock
.vs/WindowsFormsApp1/v16/Server/sqlite3/storage.ide
.vs/WindowsFormsApp1/v16/Server/sqlite3/storage.ide-shm
.vs/WindowsFormsApp1/v16/Server/sqlite3/storage.ide-wal
bin/Debug/WindowsFormsApp1.exe
bin/Debug/WindowsFormsApp1.exe.config
bin/Debug/WindowsFormsApp1.pdb
obj/Debug/WindowsFormsApp1.csproj.FileListAbsolute.txt
obj/Debug/WindowsFormsApp1.csproj.GenerateResource.cache
obj/Debug/WindowsFormsApp1.csprojAssemblyReference.cache
obj/Debug/WindowsFormsApp1.exe
obj/Debug/WindowsFormsApp1.Form1.resources
obj/Debug/WindowsFormsApp1.pdb
obj/Debug/WindowsFormsApp1.Properties.Resources.resources
obj/Debug/WindowsFormsApp1.csprojAssemblyReference.cache
